@media screen and (min-width: 990px) and (max-width: 1199px) {
    body {
        min-width: 990px;
    }
    .container {
        width: 970px;
    }
    .gallery_list a:nth-child(3n + 1) {
        padding-left: 0;
    }
    
    .gallery_list a:nth-child(3n) {
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
    body {
        min-width: 760px;
    }
    .container {
        width: 740px;
    }
    .login {
        min-height: 790px;
    }
    .gallery_list {
        min-height: 740px;
    }
    .gallery_item {
        height: 235px;
    }
    .gallery_list a:nth-child(3n + 1) {
        padding-left: 0;
    }
    .gallery_list a:nth-child(3n) {
        padding-right: 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        min-width: 480px;
    }
    .container {
        width: 460px;
    }
    .login {
        min-height: 700px;
    }
    .login_wrap::before {
        background: none;
    }
    .gallery_list {
        min-height: 455px;
    }
    .photo__link {
        padding: 1px 3px;
    }
    .gallery_item {
        height: 145px;
    }
    .gallery_list a:nth-child(3n + 1) {
        padding-left: 0;
    }
    .gallery_list a:nth-child(3n) {
        padding-right: 0;
    }

    .profile-photos {
        min-height: 155px;
    }
    .profile-head {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .profile-head__img,
    .profile-head__img img {
        width: 200px;
        height: 200px;
    }
    .profile-data {
        margin: 90px 0 0;
    }
    .profile-btn {
        right: 25px;
        top: -70px;
    }
    .profile-nav {
        margin-top: 0;
    }
    .profile-addphoto {
        height: 50px;
    }
}

@media screen and (min-width: 0) and (max-width: 479px) {
    body {
        min-width: 320px;
        /* max-width: 480px; */
    }
    .container {
        width: 320px;
    }
    h1 {
        font-size: 28px;
    }
    .login {
        min-height: 625px;
        background: #e6e7ed;
    }
    .login_wrap {
        padding: 0 20px;
        width: 100%;
        min-height: 540px;
        box-shadow: none;
    }
    .login_wrap::before {
        background: none;
    }
    .header .container,
    .footer .container {
        flex-direction: column;
    }
    .header-navigation__list,
    .footer-navigation__list {
        justify-content: center;
    }
    .header h1,
    .footer span {
        text-align: center;
    }
    .footer span {
        padding-bottom: 20px;
    }
    .gallery_list {
        min-height: 450px;
    }
    .photo__link,
    .profile-photos__link {
        flex: 0 0 50%;
        padding: 1px 3px;
    }
    .gallery_item,
    .profile-photos__link-img {
        height: 145px;
    }

    .profile-photos {
        min-height: 155px;
    }
    .profile-head {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .profile-head__img,
    .profile-head__img img {
        width: 200px;
        height: 200px;
    }
    .profile-data {
        margin: 90px 0 0;
    }
    .profile-btn {
        right: 25px;
        top: -70px;
    }
    .profile-nav {
        margin-top: 0;
    }
    .profile-addphoto {
        height: 50px;
    }
}

/* @media screen and (width: 375px)
{
    .container {
        width: 375px;
    }
    .gallery_item {
        height: 170px;
    }
} */